mixin about
  section.about
    .container
      h2 Путешествие на&nbsp;край Земли
      p
        |Это волшебное путешествие поможет вам познакомиться поближе
        |с&nbsp;удивительным миром Антарктики. Наш круизный лайнер отвезет вас на&nbsp;край Земли,
        |где вы&nbsp;сможете увидеть: ледяные айсберги, несколько видов пингвинов, китов,
        |морских котиков и&nbsp;многое другое.
      +picture('content/about', 'pinguin', 'jpg', '560', '301', 'Пингвин наслаждается круизом.')
