mixin about
  section.about
    .container
      .about__content
        h2 Путешествие на край Земли
        p
          |Это волшебное путешествие поможет вам познакомиться поближе
          |с удивительным миром Антарктики. Наш круизный лайнер отвезет вас на край Земли,
          |где вы сможете увидеть: ледяные айсберги, несколько видов пингвинов, китов,
          |морских котиков и многое другое.
      +picture-responsive('content/about', 'pinguin', 'jpg', '560', '301', 'Пингвин наслаждается круизом.')
