mixin navigation(burger)
  -
    const navigationList = [
      {
        href: "#advantages",
        text: "Преимущества"
      },
      {
        href: "#",
        text: "Направления"
      },
      {
        href: "#cruises",
        text: "Ближайшие круизы"
      },
      {
        href: "#contacts",
        text: "Контакты"
      },
    ]

  ul
    each item in navigationList
      li
        if (burger=true)
          a(data-close-menu href=item.href)=item.text
        else
          a(href=item.href)=item.text
