.advantages {
  position: relative;

  &::before,
  &::after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &::after {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    z-index: -1;

    @include graphic-retina("content/advantages/desktop/advantages", $color-alice-blue, "jpg");

    @include vp-1023 {
      @include graphic-retina("content/advantages/tablet/advantages", $color-alice-blue, "jpg");
    }

    @include vp-767 {
      @include graphic-retina("content/advantages/mobile/advantages", $color-alice-blue, "jpg");
    }
  }

  &::before {
    background-color: $color-solitude;
    z-index: -2;
  }
}

.advantages .container {
  padding-bottom: 120px;
  padding-top: 110px;

  @include vp-1023 {
    padding-bottom: 100px;
    padding-top: 90px;
  }

  @include vp-767 {
    padding-bottom: 65px;
    padding-top: 57px;
  }
}

.advantages h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
  margin-bottom: 50px;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
    margin-bottom: 48px;
  }

  @include vp-767 {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.advantages ul {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.advantages li {
  align-items: flex-start;
  background-color: $color-alice-blue;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 240px;
  padding: 30px;

  @include vp-1023 {
    padding: 25px 15px 20px 20px;
  }

  @include vp-767 {
    gap: 9px;
    min-height: 250px;
    padding: 25px 20px 20px;
  }
}

.advantages li svg {
  margin-bottom: 8px;

  @include vp-1023 {
    display: flex;
    height: 26px;
    width: auto;
  }
}

.advantages h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  margin: 0;

  @include vp-1023 {
    font-size: 18px;
  }

  @include vp-767 {
    max-width: 80%;
  }
}

.advantages p {
  font-size: 14px;
  line-height: 140%;
  margin: 0;

  @include vp-1023 {
    font-size: 14px;
  }
}
