.booking {
  @include graphic-retina("content/booking/booking", $color-alice-blue, "jpg");
  background-size: cover;
}

.booking .container {
  align-items: center;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  padding: 50px 92px;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 87px 150px 100px;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.booking h2 {
  font-size: 40px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 8px;

  @include vp-1023 {
    font-size: 34px;
    margin-bottom: 6px;
    text-align: center;
  }
}

.booking p {
  font-size: 18px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 8px;

  @include vp-1023 {
    font-size: 18px;
    text-align: center;
  }
}

.booking h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  margin: 0;
  margin-bottom: 28px;
}

.booking__form form {
  background-color: $color-tangaroa;
  box-shadow: 0 4px 45px rgba(1, 28, 64, 0.15);
  color: $color-alice-blue;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 403px;
  padding: 50px;
  padding-top: 42px;
  width: 100%;
}

.booking__form button[type="submit"] {
  align-items: center;
  background-color: $color-alice-blue;
  border: 0;
  color: $color-tangaroa;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 150%;
  margin-top: auto;
  min-height: 43px;
  padding: 0;
  width: 100%;

  @include default-states($color-alice-blue);
}
