.booking {
  @include graphic-retina("content/booking/booking", $color-alice-blue, "jpg");
  background-size: cover;
}

.booking .container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 555px;
  padding: 50px 92px;
}

.booking h2 {
  font-size: 40px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 8px;
}

.booking p {
  font-size: 18px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 8px;
}

.booking__form form {
  background-color: $color-tangaroa;
  color: $color-alice-blue;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 403px;
  padding: 50px;
  width: 100%;
}
