.contacts .container {
  align-items: center;
  column-gap: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 120px 30px;
}

.contacts__map {
  height: 100%;
  min-height: 306px;
  min-width: 100px;
  width: 100%;
}

.contacts__content {
  margin-left: 60px;
}

.contacts h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 30px;
  margin-top: 0;
}

.contacts ul {
  display: flex;
  flex-direction: column;
  gap: 22px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts li {
  display: flex;
  gap: 10px;
}

.contacts a {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
