.main-nav--header {
  color: $color-alice-blue;
  width: 100%;

  @include vp-767 {
    background-color: $color-alice-blue;
    color: $color-tangaroa;
    height: 100vh;
    max-width: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
  }
}

.main-nav--transition {
  transition: $trans-stretch-light max-width;
}

.is-open .main-nav--header {
  @include vp-767 {
    max-width: 285px;
  }
}

.main-nav--header .main-nav__wrapper {
  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 27px;
    height: 100%;
    overflow: auto;
    padding: 20px 30px 20px 17px;
  }
}

.main-nav--header .main-nav__wrapper > .logo {
  color: inherit;
  display: none;

  @include vp-767 {
    display: block;

    & svg {
      height: 22px;
      width: 42px;
    }
  }
}

.main-nav--header ul {
  column-gap: 33px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  row-gap: 10px;

  @include vp-1023 {
    column-gap: 24px;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.main-nav--header a {
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

  @include default-states($color-alice-blue);

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-767 {
    display: flex;
    font-size: 18px;
    line-height: 20px;
    min-height: 40px;
    padding: 10px 10px 10px 8px;
    width: 240px;

    @include default-states($color-tangaroa);
  }
}

.main-nav--footer {
  display: flex;
  gap: 40px;

  @include vp-1023 {
    gap: 25px;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 22px;
    width: 100%;
  }
}

.main-nav--footer ul {
  align-items: center;
  column-gap: 33px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    column-gap: 24px;
  }

  @include vp-767 {
    align-items: flex-start;
    flex-direction: column;
    row-gap: 8px;
  }
}

.main-nav--footer a {
  color: $color-alice-blue;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

  @include default-states($color-alice-blue);

  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }
}

.main-nav--footer .logo {
  align-items: center;
  color: $color-alice-blue;
  display: flex;
  height: auto;

  & svg {
    height: 38px;
    width: 70px;

    @include vp-1023 {
      height: 20px;
      width: 38px;
    }

    @include vp-767 {
      height: 22px;
      width: 42px;
    }
  }
}
