.main-nav--header.no-js {
  @include vp-767 {
    background-color: transparent;
    color: $color-alice-blue;
    height: auto;
    max-width: 100%;
    position: relative;
    width: 100%;
  }
}

.main-nav--header.no-js .main-nav__wrapper {
  @include vp-767 {
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    padding: 0;
  }
}

.main-nav--header.no-js .main-nav__wrapper ul {
  @include vp-767 {
    gap: 5px;
  }
}

.main-nav--header.no-js li a {
  @include vp-767 {
    @include default-states($color-alice-blue);
    font-size: 14px;
    justify-content: flex-end;
    line-height: 16px;
    min-height: auto;
    padding: 2px;
  }
}

.header__button.no-js {
  @include vp-767 {
    display: none;
  }
}

.header__top.no-js > .logo {
  @include vp-767 {
    display: none;
  }
}

.contacts__map.no-js {
  @include graphic-webp("./content/map/map", #e9eeee, "jpg");
}
