mixin header
  header.header()
    .container
      .header__top.no-js(data-header)
        +logo()
        nav.main-nav.main-nav--header.no-js
          .main-nav__wrapper
            +logo()
            +navigation(burger)
        .header__overlap(data-close-menu)
        button.header__button.no-js(data-burger aria-label='Открыть или закрыть меню.')
          span
      .header__bottom.no-js
        h1 Круизы в Антарктику
        p Волшебный мир айсбергов и пингвинов
