.custom-input,
.custom-textarea {
  display: flex;
  padding: 0 0 20px 0;
  position: relative;
  width: 100%;

  & label {
    align-items: center;
    display: flex;
    width: 100%;
  }

  & input,
  & textarea {
    border: 0;
    flex-grow: 1;
    margin-left: auto;
    min-height: 43px;
    padding: 10px;
    transition: border 0.3s ease;
    width: 100%;
    @include default-outline(transparent);
    @include default-states($color-alice-blue);
  }

  &__error {
    bottom: 35px;
    color: #ff1553;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: opacity 0.3s ease;
  }

  &.is-invalid {
    input,
    textarea {
      outline-color: #ff1553;

      &:focus,
      &:hover {
        outline-color: rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      outline-color: #22b259;

      &:focus,
      &:hover {
        outline-color: rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    font-size: 10px;
    left: 0;
    position: absolute;
    top: -22px;

    &--invalid {
      color: #ff0000;
    }

    &--valid {
      color: #15ab07;
    }
  }
}
